{% extends "base.html" %}

{% block title %}
Login | FAST CARS
{% endblock %}


{% block content %}

<section class="py-5">

<div class="container">

<div class="row justify-content-center">

<div class="col-md-5">


<div class="form-card">


<h2 class="mb-4 text-center">
Login
</h2>

<form method="POST" action="{{ url_for('auth.login') }}">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
<div class="mb-3">

<label for="email" class="form-label">
Email
</label>

<input 
type="email"
id="email"
name="email"
class="form-control"
placeholder="Enter email"
autocomplete="email"
required
>

</div>



<div class="mb-3">

<label for="password" class="form-label">
Password
</label>

<input 
type="password"
id="password"
name="password"
class="form-control"
placeholder="Enter password"
autocomplete="current-password"
required
>

</div>



<button 
class="btn btn-fast w-100"
type="submit"
>

Login

</button>


</form>


<div class="mt-4 text-center">

<small>
Demo Login:
<br>

Email:
<strong>
user@gmail.com
</strong>

<br>

Password:
<strong>
123456
</strong>

</small>

</div>


</div>


</div>

</div>

</div>

</section>


{% endblock %}